<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color pallets</title>
    <link rel="stylesheet" href="../salt.css" />
    <style></style>
  </head>
  <body class="body-container">
    <nav class="header">
      <h1>SALT css</h1>
    </nav>
    <nav class="sidebar">
      <ul class="li-non-bullets">
        <li class="nav-link">
          <a class="btn-link" href="colorPallets.html">color pallets</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="avatars.html">Avatars</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="alerts.html">Alerts</a>
          <!-- alert messages, alert box, notifications -->
        </li>
        <li class="nav-link">
          <a class="btn-link" href="bedges.html">Badges</a>
          <!-- badges on avatar or icons -->
        </li>
        <li class="nav-link">
          <a class="btn-link" href="buttons.html">Buttons</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="cards.html">Cards</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="images.html">Images</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="inputs.html">Inputs</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="lists.html">Lists</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="modal.html">Modal</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="navigation.html">Navigation</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="slider.html">Slider</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="WComponent/typography.html">Typography</a>
        </li>
      </ul>
    </nav>
    <div class="main-body">
      <div class="flex-container component-container">
        <div class="container-notification">
          <div class="box-notification success">
            <span
              >This is success notification This is success notification</span
            >
            <button>X</button>
          </div>
          <div class="box-notification warning">
            <span>This is warning</span>
            <button>X</button>
          </div>
          <div class="box-notification danger">
            <span>data danger</span>
            <button>X</button>
          </div>
          <div class="box-notification alert">
            <span>data alert</span>
            <button>X</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
