<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color pallets</title>
    <link rel="stylesheet" href="../salt.css" />
    <style>
      .card-profile {
        min-height: 10vh;
      }
    </style>
  </head>
  <body class="body-container">
    <nav class="header">
      <h1>SALT css</h1>
    </nav>
    <nav class="sidebar">
      <ul class="li-non-bullets">
        <li class="nav-link">
          <a class="btn-link" href="colorPallets.html">color pallets</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="avatars.html">Avatars</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="alerts.html">Alerts</a>
          <!-- alert messages, alert box, notifications -->
        </li>
        <li class="nav-link">
          <a class="btn-link" href="bedges.html">Badges</a>
          <!-- badges on avatar or icons -->
        </li>
        <li class="nav-link">
          <a class="btn-link" href="buttons.html">Buttons</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="cards.html">Cards</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="images.html">Images</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="inputs.html">Inputs</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="lists.html">Lists</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="modal.html">Modal</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="navigation.html">Navigation</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="slider.html">Slider</a>
        </li>
        <li class="nav-link">
          <a class="btn-link" href="WComponent/typography.html">Typography</a>
        </li>
      </ul>
    </nav>
    <div class="main-body">
      <div class="flex-container">
        <div class="component-header">Button</div>
        <div class="component-container">
          <p>Normal button</p>
          <div class="box-container">
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-secondary">Secondary</button>
            <button class="btn btn-alert">Alert</button>
          </div>
        </div>
        <div class="component-container">
          <p>border button</p>
          <div class="box-container">
            <button class="btn btn-border-primary">Primary</button>
            <button class="btn btn-border-secondary">Secondary</button>
            <button class="btn btn-border-alert">Alert</button>
          </div>
        </div>
        <div class="component-header">Disabled button</div>
        <div class="component-container">
          <p>Normal button</p>
          <div class="box-container">
            <button class="btn btn-disabled btn-primary">Primary</button>
            <button class="btn btn-disabled btn-secondary">Secondary</button>
            <button class="btn btn-disabled btn-alert">Alert</button>
          </div>
        </div>
        <div class="component-container">
          <p>border button</p>
          <div class="box-container">
            <button class="btn btn-disabled btn-border-primary">Primary</button>
            <button class="btn btn-disabled btn-border-secondary">
              Secondary
            </button>
            <button class="btn btn-disabled btn-border-alert">Alert</button>
          </div>
        </div>
        <div class="component-header">Link Button</div>
        <div class="component-container">
          <span style="display: block">Normal button</span>
          <div class="box-container">
            <a class="btn btn-primary">Primary</a>
            <a class="btn btn-secondary">Secondary</a>
            <a class="btn btn-alert">Alert</a>
          </div>
        </div>
        <div class="component-container">
          <p>border button</p>
          <div class="box-container">
            <a class="btn btn-border-primary">Primary</a>
            <a class="btn btn-border-secondary">Secondary</a>
            <a class="btn btn-border-alert">Alert</a>
          </div>
        </div>
        <div class="component-header">Disabled Link button</div>
        <div class="component-container">
          <p>Normal button</p>
          <div class="box-container">
            <a class="btn btn-disabled btn-primary">Primary</a>
            <a class="btn btn-disabled btn-secondary">Secondary</a>
            <a class="btn btn-disabled btn-alert">Alert</a>
          </div>
        </div>
        <div class="component-container">
          <p>border button</p>
          <div class="box-container">
            <a class="btn btn-disabled btn-border-primary">Primary</a>
            <a class="btn btn-disabled btn-border-secondary"> Secondary </a>
            <a class="btn btn-disabled btn-border-alert">Alert</a>
          </div>
        </div>
        <div class="component-header">Input Button</div>
        <div class="component-note">
          Note:- for input type Button,Submit or reset there is no additional
          design change required, default value of type button is nothing, for
          submit and reset it's type respectively
        </div>
        <div class="component-container">
          <span style="display: block">Normal button</span>
          <div class="box-container">
            <input type="submit" class="btn btn-primary" value="Primary" />
            <input type="submit" class="btn btn-secondary" value="Secondary" />
            <input type="submit" class="btn btn-alert" value="Alert" />
          </div>
        </div>
        <div class="component-container">
          <p>border button</p>
          <div class="box-container">
            <input
              type="submit"
              class="btn btn-border-primary"
              value="Primary"
            />
            <input
              type="submit"
              class="btn btn-border-secondary"
              value="Secondary"
            />
            <input type="submit" class="btn btn-border-alert" value="Alert" />
          </div>
        </div>
        <div class="component-header">Disabled Input button</div>
        <div class="component-container">
          <p>Normal button</p>
          <div class="box-container">
            <input
              type="submit"
              class="btn btn-disabled btn-primary"
              value="Primary"
            />
            <input
              type="submit"
              class="btn btn-disabled btn-secondary"
              value="Secondary"
            />
            <input
              type="submit"
              class="btn btn-disabled btn-alert"
              value="Alert"
            />
          </div>
        </div>
        <div class="component-container">
          <p>border button</p>
          <div class="box-container">
            <input
              type="submit"
              class="btn btn-disabled btn-border-primary"
              value="Primary"
            />
            <input
              type="submit"
              class="btn btn-disabled btn-border-secondary"
              value="Secondary"
            />
            <input
              type="submit"
              class="btn btn-disabled btn-border-alert"
              value="Alert"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
